<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="abc">
	<select id="selectSangpum" resultType="SangpumDto">
		select * from board1test ;
	</select>
<insert id="insertSangpum" parameterType="SangpumDto"> 
<!--parameterType은 dto의 이름인데 이파일에서 resultmap type=명 ,즉 mybatisdb의 user.bean.ClassDto이거의 별명. 자바의 메소드랑 같으니 매개변수가 있어야되니-->
insert into board1test values(#{board1_NUM},#{board1_NAME}, #{board1_PASS},#{board1_SUBJECT},#{board1_CONTENT},CURDATE()); <!--dto의 변수이니 xml이니 #{자바의 쓸 변수명}-->
 </insert>
<delete id="deleteSangpum" parameterType="SangpumDto">
delete from board1test where board1_NUM= #{board1_NUM} ;
 </delete>
 <update id="updateSangpum" parameterType="SangpumDto">
 update board1test set board1_NAME=#{board1_NAME},board1_PASS=#{board1_PASS}, board1_SUBJECT=#{board1_SUBJECT},board1_CONTENT=#{board1_CONTENT} 
 where board1_NUM=#{board1_NUM} ;
 </update>
 
 	<select id="selectSawon" resultType="SawonDto">
		select * from board2test ;
	</select>
	
</mapper>
