   .col1style{
 background-color: #D0D0D0; text-align: center;}
  /*////////////////////////////////////*/

  /*////////////////////////////////////*/
  header{   /*header의 margin auto를 아예 없에니 center 로고 center 가 생략해도 nav메뉴가 살아난다.*/
  height:90px;
		}

	#topnav{ /* 로그인 회원가입을 아예 relative로 배치하면.. 밑에 메모 참고*/
		position:absolute; /* 이게 relative이면 옆에 공간이 생겨서 스크롤이 늘어났다.*/
		left:1100px;
		top: 10px;
		font-family:"Tahoma";
		font-size:12pt;		
	}
	#topnav ul li{ /* inline으로 배치-margin으로 .*/
		margin-right:10px;
		display:inline;
	}

	  #topnav ul li:hover{
		   background-color: #F0F8FF;
/*a:hobver는 a링크에 마우스를 올리면 밑에 바닥이 생기게 이뜻임.*//*마우스를 올리면 밑에 바닥이 생기게.*/
}  

  #menunav ul[id=menu] li:hover{
   color:#BEBEBE;
		background-color: #F8F8FF;
		border:2px solid #F8F8FF;
	/*a:hobver는 a링크에 마우스를 올리면 밑에 바닥이 생기게 이뜻임.*/
/*마우스를 올리면 밑에 바닥이 생기게.  #menunav ul[id=menu] li.on <<- 이거는 뭔지 모르겠다.*/
		}  

 #menunav ul[id=menu]{ /* 브랜드 목록, 전체보기 네비 .*/ /*   이미지는 진짜 안들어가 진다 */
 margin: 0;
  height:30px;
  font-size:15px;
	background-color: #F8F8FF;
		}

 #menu ul{list-style-type: none;} 
 #menu{text-align:center; }
 #menu li {display : inline;}
/*-------------------------------------------*/
  #Lbanner1  /* 고객센터 */
  {width:624px;
  height:100px;
  background:#F8F8F8; 
  }  /* border:1px solid #00008B;  <- 보통 퍼퓸그라피를 봐도 보더가 생략되었으니 */

 #Lbanner2 /* 사업자등록번호 */
  {width:624px;
  height:100px;
  border-left:1px solid #00008B;
  background:#F8F8F8; 
}
/*-------------------------------------------*/
/* 제일 마지막에 붙어있는거- footer라고 주는대신 그냥 아이디를 줌.- */   /*  */ 
   #endfooter  {	
    width:100%;
  height:7%;
  background:#f0f5f5;
  clear: both;  } 
  /*--------------------게시글 작성에서 버튼인데 회원가입 모양을 살림-----------------------*/
    .jointestborder1 {
    background-color: #0088cc;
 border:solid 1px #f2f2f2;
   }
    .jointestborder2 {
	   background-color: #00cc44;
 border:solid 1px #e6e600;    }
 
     .jointestborder2 {
	   background-color: #00cc44;
 border:solid 1px #e6e600;    }
  /*----------------- 이 밑은 게시글 작성때--------------------------*/
   .qnatext_box{
   background-color : #eeeeee;
   border: solid 1px #aaaaaaa;
   border-radius: 15px ;
   box-shadow: 6px 6px 5px #888888;
   text-align: center;   }
 /*-------------------------------------------*/
